@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0;

  --font-primary: Aboreto, sans-serif;
  --font-secondary: Lato, sans-serif;

  --silver-lake-blue: #6290C3;
  --mint-green: #C2E7DA;
  --honeydew: #F1FFE7;
  --space-cadet: #1A1B41;
  --lime: #BAFF29;
}


@theme{
  --animate-slide-in: nav-slide-in 0.2s ease-out;

  @keyframes nav-slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}


